.width-1px { width: 1px; }
.width-100per { width: 100%; }

.no-margin { margin: 0 !important; }
.margin-top-10px { margin-top: 10px; }
.margin-bottom-10px { margin-bottom: 10px; }
.margin-top-bottom-10px { margin-top: 10px; margin-bottom: 10px; }

.no-padding { padding: 0 !important; }
.padding-10px { padding: 10px; }
.padding-bottom-10px { margin-bottom: 10px; }
.padding-top-bottom-10px { padding-top: 10px; padding-bottom: 10px; }

.float-left { float: left; }
.float-right { float: right; }

.display-none { display: none !important; }

.overflow-visible { overflow: visible; }

.border-1px-solid-lightgray { border: 1px solid lightgray; }
.border-radius-025rem { border-radius: 0.25rem; }

table.text-center td { text-align: center; }

.color-red { color: var(--red); }
.color-green { color: var(--green); }
.color-blue { color: var(--blue); }

.display-inline-block { display: inline-block !important; }

/* Якорь как обычный элемент */
a[name], a[name]:hover { text-decoration: inherit; color: inherit; }

/*************************************
 *** *** *** Quick Service *** *** ***
 *************************************/

:root {
    --quicktservice-color: #b5284f;
    --quicktickets-color: #ee7633;
    --quickskills-color: #8c41cc;
}

.color-quickservice { color: var(--quicktservice-color); }
.color-quicktickets { color: var(--quicktickets-color); }
.color-quickskills { color: var(--quickskills-color); }

/***********************************
 *** *** *** bootstrap 4 *** *** ***
 ***********************************/

/* ... */

/*********************************
 *** *** *** Интерфейс *** *** ***
 *********************************/

.grid-view .summary { text-align: right; }
.grid-view table thead tr th { border-top: 0; }
.grid-view table tr th, .grid-view table tr td { text-align: center; }
.grid-view .action-column { width: 1px; }
.grid-view a.action-button i { font-size: 1.35em; }

.panel-buttons-group { margin: 0 0 16px 0; }
.panel-button-search-form {}
.panel-search-form {
    display: none;
    margin: 0 0 16px 0;
    padding: 15px;
    border: 1px solid #f8f9fa;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}