.width-1px { width: 1px; }
.width-100per { width: 100%; }

.no-margin { margin: 0 !important; }
.margin-top-10px { margin-top: 10px; }
.margin-bottom-10px { margin-bottom: 10px; }
.margin-top-bottom-10px { margin-top: 10px; margin-bottom: 10px; }

.no-padding { padding: 0 !important; }
.padding-10px { padding: 10px; }
.padding-bottom-10px { margin-bottom: 10px; }
.padding-top-bottom-10px { padding-top: 10px; padding-bottom: 10px; }

.float-left { float: left; }
.float-right { float: right; }

.display-none { display: none !important; }

.overflow-visible { overflow: visible; }

.border-1px-solid-lightgray { border: 1px solid lightgray; }
.border-radius-025rem { border-radius: 0.25rem; }

table.text-center td { text-align: center; }

.color-remove { color: var(--red); }
.color-edit { color: var(--green); }
.color-view { color: var(--blue); }
.color-archive { color: var(--yellow); }
.color-not-archive { color: var(--gray); }

.display-inline-block { display: inline-block !important; }

/* Якорь как обычный элемент */
a[name], a[name]:hover { text-decoration: inherit; color: inherit; }

/***********************************
 *** *** *** bootstrap 4 *** *** ***
 ***********************************/

/* ... */

/*********************************
 *** *** *** Интерфейс *** *** ***
 *********************************/

.grid-view .summary { text-align: right; }
.grid-view table thead tr th { border-top: 0; }
.grid-view table tr th, .grid-view table tr td { text-align: center; }
.grid-view .action-column-header { width: 1px; }
.grid-view a.action-column-button i, .grid-view i.action-column-button { font-size: 1.35em; }
.grid-view i.action-column-button { cursor: pointer; }

.panelButtonsGroup { margin: 0 0 16px 0; }
.panelSearchFormToggle {}
.panelSearchFormContainer {
    display: none;
    margin: 0 0 16px 0;
    padding: 15px;
    border: 1px solid #f8f9fa;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}