/********************************
 *** *** *** Основное *** *** ***
 ********************************/

.width1px { width: 1px; }
.width100 { width: 100%; }

.noMargin { margin: 0 !important; }
.margin10px { margin: 10px; }
.marginTop10px { margin-top: 10px; }
.marginBottom1rem { margin-bottom: 1rem; }
.marginBottom10px { margin-bottom: 10px; }
.marginTopBottom10px { margin-top: 10px; margin-bottom: 10px; }

.noPadding { padding: 0 !important; }
.padding0375rem075rem { padding: 0.375rem 0.75rem; }
.padding10px { padding: 10px; }
.paddingTop10px { margin-top: 10px; }
.paddingBottom10px { margin-bottom: 10px; }
.paddingTopBottom10px { padding-top: 10px; padding-bottom: 10px; }

.floatLeft { float: left; }
.floatRight { float: right; }

.displayNone { display: none !important; }

.overflowVisible { overflow: visible; }

.border1pxSolidLightgray { border: 1px solid lightgray; }
.borderRadius025rem { border-radius: 0.25rem; }

table.thTextCenter th { text-align: center; }
table.tdTextCenter td { text-align: center; }

.colorRemove { color: var(--red); }
.colorEdit { color: var(--green); }
.colorView { color: var(--blue); }
.colorArchive { color: var(--yellow); }
.colorNotArchiv { color: var(--gray); }

.displayInlineBlock { display: inline-block !important; }

/* Якорь как обычный элемент */
a[name], a[name]:hover { text-decoration: inherit; color: inherit; }

/* Сортировка */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after { content: "\f161"; }
a.desc:after { content: "\f160"; }
.sort-numerical a.asc:after { content: "\f163"; }
.sort-numerical a.desc:after { content: "\f162"; }
.sort-ordinal a.asc:after { content: "\f15e"; }
.sort-ordinal a.desc:after { content: "\f15d"; }

/***********************************
 *** *** *** bootstrap 4 *** *** ***
 ***********************************/

.alert ul, alert ol { margin-bottom: 0; }

.form-group .col-form-label { text-align: right; }

/**************************************
 *** *** *** yii 2, widgets *** *** ***
 **************************************/

.grid-view .summary { text-align: right; }
.grid-view table thead tr th { border-top: 0; }
.grid-view table tr th, .grid-view table tr td { text-align: center; }
.grid-view .actionColumnHeader { width: 1px; }
.grid-view a.actionColumnButton i, .grid-view i.actionColumnButton { font-size: 1.35em; }
.grid-view i.actionColumnButton { cursor: pointer; }

/********************************
 *** *** *** select 2 *** *** ***
 ********************************/

.select2 { display: inline-block; }
.select2 .select2-selection__clear, .select2 .select2-selection__arrow { display: none !important; }
.select2 .select2-selection__choice { padding: 2px 10px 2px 10px !important; }
.select2-container .s2-togall-button { display: none !important; }
.select2-container .s2-select-label { display: none !important; }
.select2-container .s2-unselect-label { display: none !important; }
.select2Button {
    width: 46px;
    margin-left: 5px;
    float: right;
}

/********************************
 *** *** *** sortable *** *** ***
 ********************************/

.sortable { min-height: 52px; }

/********************************
 *** *** *** kartik-v *** *** ***
 ********************************/

.tabs-x {}
.tabs-x .tab-content { margin-top: 15px; }

/*********************************
 *** *** *** Интерфейс *** *** ***
 *********************************/

.panelButtonsGroup { margin: 0 0 15px 0; }
.panelSearchFormToggle {}
.panelSearchFormContainer {
    display: none;
    margin: 0 0 15px 0;
    padding: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem;
    background-color: #fdfdfd;
}

.widthDateTime { width: 207px; }
.widthDate { width: 165px; }